
.inleiding {
    background-color: #A2C00F;
}

.menu .container {
    background-color: #ffffff;
    position: static;
}

.menu ul {
    margin: 2px;
    list-style-type: none;
    text-align: center;
}

.menu li {
    display: inline;
    border-right: 2px solid #a2c00f;
}

.menu a {
    color: #A2C00F;
    font-weight: bold;
    padding: 2px 5px;
    margin: 3px 2px;
    font-family: 'Lucida Sans';
    font-size: 26px;
}
